# If using manual PostgreSQL installation the default port is 5432
# If using Docker:
DATABASE_URL=jdbc:postgresql://localhost:5433/matchme

DB_USERNAME=postgres
DB_PASSWORD=postgres

JWT_SECRET=replace_this_with_a_long_random_secret
JWT_EXPIRATION=86400000

PORT=8080
SHOW_SQL=false

# Options: update (default), create (drops and recreates all tables on startup)
DDL_AUTO=update

# If you'd like to fill the database with mock users set to true
# Their login will be: "firstname.lastname@example.com" "password"
# They all live around Tallinn
SEED_DATABASE=false
SEED_USER_COUNT=200