JWT_SECRET=some-long-random-string-at-least-32-chars
JWT_EXPIRATION=86400000

PORT=8080
SHOW_SQL=false

# Options: update (keeps database between restarts), create (default: drops and recreates all tables on startup)
DDL_AUTO=create

# If you'd like to fill the database with mock users set to true
# They all live around Tallinn
SEED_DATABASE=true
SEED_USER_COUNT=200